li{
    list-style:none;
}


.logoNew{
    height : 70px;
    width : 70px;
}

.uldiv{
    display : flex;
    width : 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    margin-right: 10%;
    
}

.socialMedia{
    height : 20px;
    width : 22px;
    padding : 10%;
    
}

.social{
    margin-right: 2%;
    display: flex;
}


#contact{
    text-decoration: none;
    color: #000;
    margin-left: 2%;
}

footer{
    background-color: rosybrown;
    position:fixed;
    height : 65px;
    width: 100%;
    left : 0;
    bottom : 0;
}

#footerDiv{
    display : flex;
    padding-top: 15px;
    justify-content:space-between;
}

.container-fluid{
    margin:0% 1%;
    background-color: rosybrown;
}

* {
    font-family: 'Ubuntu',sans-serif;
}

