.social {
    display : inline;
}
.socialMedia{
    height : 20px;
    width : 22px;
}

#contact{
    display : block;
}

.logo{
    height : 60px;
    width : 60px;
}

html,body, .container{
    height : 100%;
    width : 100%;
}
