li{
    list-style:none;
}
.container-fluid{
    padding-left: 0px;
}


.logoNew{
    height : 70px;
    width : 70px;
}

.uldiv{
    display : flex;
    width : 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    /* padding-right: 20px; */
    margin-right: 2%; 
    
}

.socialMedia{
    height : 20px;
    width : 22px;
    padding : 10%;
    
}

.social{
    margin-right: 2%;
    display: flex;
}


#contact{
    text-decoration: none;
    color: #000;
    margin-left: 2%;
}

footer{
    background-color: rosybrown;
    position:fixed;
    height : 65px;
    width: 100vw;
    left : 0;
    bottom : 0;
}

#footerDiv{
    display : flex;
    padding-top: 15px;
    justify-content:space-between;
}


#navbarSupportedContent{
    background-color: rosybrown;
    height : 10vh;
    width : 100vw;
    /* margin-left: 0; */
    display : flex;
    justify-content: space-evenly;
}

* {
    font-family: 'Ubuntu',sans-serif;
}

#logoutBtn{
    display : none;
}

#headerTemplate{
    margin : 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
