p, .hotelDetails ul li{
    margin : 0px;
    font-family: 'Ubuntu', sans-serif;
    color : black;
}


.hotelDetails{
    margin : 1% 4% 2% 4%;
}

#myCarousel{
    height : 350px;
    width : 500px;
    padding : 2% 4% 0% 4%;
}

#details{
    padding : 0% 4% 1% 4%;    
}

.hotelEnquiry {
    display : grid;
    grid-template-columns: 60% 40%;
    row-gap: none;
    column-gap: none;
}

#two{
    margin-top: 1.5%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-family: 'Ubuntu', sans-serif;
}

#one{
    margin-top: 1%;
    text-align: center;
    max-height: 400px;
    padding-bottom: 1%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    display : flex;
    justify-content: center;
    align-items: center;
}

#two label {
    display : inline-block;
    width : 150px;
    padding : 3%;
}

#bookBtn{
    padding-left: 37%;
}

.hotelDetails h3,.hotelDetails h4{
    font-family: cursive;
    font-weight: bolder;
}

#bookBtnId{
    background: white;
    border-color : green;
    color : green;
}

#bookBtnId:hover {
    background-color: green;
    color : white;
}

.checked{
    color : orange;
    font-size : 20px;
}

.unchecked{
    font-size: 20px;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right{
    color : rosybrown;
    width : 55px;
   }