
p{
    margin : 0px;
}

.hotelImg{
    padding : 5px;
    color : black;
}

.hotelImage{
    height : 250px;
    width : 250px;
}

/* #content{
    position : relative;
} */

.hotelDetails{
    /* width : 40%; */
    background-color: lightgray;
    margin : 4%;
    margin-top: 2%;
    display : flex;
    width : 40%;
    /* float:left; */ 

}


.hotelDetails:hover{
    background-color: rosybrown;
}

a{
    text-decoration: none;
    display: flex;
}

.checked{
    color : orange;
    font-size : 20px;
}

.unchecked{
    color:gray;
    font-size: 20px;
}
/* #mapView{
    display:inline;
    /* grid-template-columns: 50% 50% 
} */

#pills-tab{
    display : flex;
    justify-content: center;
}

.text{
    font-size: 1vw;
}