
p{
    margin : 0px;
}

.hotelImg{
    padding : 5px;
    color : black;
}

.hotelImage{
    height : 250px;
    width : 250px;
}

#allHotels{
    display : grid;
    grid-template-columns: 50% 50%
}

.hotelDetails{
    /* width : 40%; */
    background-color: lightgray;
    margin : 4%;
    margin-top: 2%;
    display : flex;

}

.hotelDetails:hover{
    background-color: rosybrown;
}

.content {
    padding-top: 100px;
}

a{
    text-decoration: none;
}

#ViewList, #ViewMap{
    align-items: center;
    margin : 10px;
}

#View{
    display : flex;
    justify-content: center;
    align-items: center;
}

#List, #Map{
    padding:10px;
    color : black;
    font-weight: bold;
}

.mapView{
    display : none;
}

#ViewMap:active + .mapView{
    display : block;
}

#View:last-child:active+#allHotels{
    display : none;
}