
p{
    margin-left : 5px;
    float : left;
    font-family: 'Ubuntu', sans-serif;
    color : black;
    margin-bottom: 0px;
}

.modal-body p{
    color : black;
    float : none;
    font-family: Sans-serif;
    
}


.RadisonDetails{
    background-color: rgb(132,136,139);
    height: 300px;
    width : 400px;
    margin : 2% 0%; 
    display : flex;
    justify-content: center;  
    align-items: center;
}   

#Radison{
    height: 300px;
    width : 270px;
}

h3{
    /* margin-top: 10px; */
    font-family: 'Ubuntu', sans-serif;
    color : black;
}

.hotelContent{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap:wrap; */
}

#customerDetails{
    margin : 2%;
}

#customerDetails h4 ,.tariffDetails h4{
    font-family: cursive;
    float : left;
    margin-top: 0px;
    margin-bottom: 0px;
}


/* .tariffDetails{
    border: 1%;
    margin : 2%;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    padding : 1% 2%;

} */

#payNow{
    color :black;
    text-decoration: none;
}

#secondHalf{
    display : flex;
    justify-content : space-evenly;
    align-items: center;
    background-color: rosybrown;
    margin : 2%;
    border : 1px solid;
    border-radius: 5px;
    margin-bottom: 10%;
}