
p{
    margin-left : 5px;
    margin-bottom: 0px;
    float : left;
}

.RadisonDetails{
    background-color: rgb(132,136,139);
    height: 300px;
    width : 400px;
    margin : 2% 0%; 
    display : flex;
    justify-content: center;  
    align-items: center;
}   

#Radison{
    height: 300px;
    width : 270px;
}

div h3{
    margin-top: 10px;
}

.hotelContent{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap:wrap; */
}

#customerDetails{
    margin : 2%;
}

h4{
    float : left;
    font-family: cursive;
}


/* .tariffDetails{
    border: 1%;
    margin : 2%;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    padding : 1% 2%;

} */

#payNow{
    color :black;
    text-decoration: none;
}

#secondHalf{
    display : flex;
    justify-content : space-evenly;
    align-items: center;
    background-color: rosybrown;
    margin : 2%;
    border : 1px solid;
    border-radius: 5px;
    margin-bottom: 10%;
}